.btn-start,
 .quiz_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn-start button{
    font-size: 1.5rem;
    padding: 1rem;
}
.quiz_box.active{
    opacity: 1;
    pointer-events: all;    
}
.quiz_box{
    width: 550px;
    opacity: 0;
    pointer-events: none;
}
.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}
.quiz_box .question_text{
    font-size: 25px;
    font-weight: 600;
    padding: 15px 15px;
}
.quiz_box .option_list{
    padding: 15px 15px;
}
.quiz_box .option_list .option{
    border: 1px solid #151D3B;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quiz_box .option_list .option:hover{
    color:#112B2C;
    background-color: #FFD33D;
}
.quiz_box .option_list .option.correct{
    color:#155724;
    background-color: #D4EDDA;
}
.quiz_box .option_list .option.incorrect{
    color:#721C24;
    background-color: #F8D7DA;
}

.quiz_box .option_list .option.disabled{
    pointer-events: none;
}

.quiz_box .next-btn{
    opacity: 0;
    pointer-events: none;
}
.quiz_box .next-btn.show{
    opacity: 1;
    pointer-events: auto;
}

.quiz_box footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* timer */
.quiz_box header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.quiz_box header .timer{
    width: 11rem;
    height: 3rem;
    font-weight: 500;
    padding: 0.4rem;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    background-color:#FFD33D;
}
.quiz_box header .timer .time_second{
    padding: 0.5rem;
    background-color: #2c8be9;
    border-radius: 0.5rem;
    color: #fff;
    margin-left: 0.5rem;
}
/* Timer Line */
.quiz_box .timer_line{
    position: absolute;
    bottom: -1px;
    left: 0px;
    /* width: 750px; */
    height: 4px;
    background-color: #FFD33D;
}
/* SCORE BOX */
.score_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.score_box.active{
    opacity: 1;
    pointer-events: all;    
}
.score_box{
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    opacity: 0;
    pointer-events: none;
}
.score_box .icon{
    color: #FFD33D;
    font-size: 7rem;
}
.score_box .score_text{
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}